body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* word-break: break-all; */
}

.top {
    background-image: url(./top.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.topcont {
    width: 600px;
    margin-left: calc( (100% - 600px) / 2);
}

.topcont img{
    margin: 30px 0;
}

.top h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.top p {
    width: 50%;
    font-size: 12px;
    display: inline-block;
    color: grey;
}

.top li {
    display: inline;
    color: white;
}

.skaiciai {
    margin: 30px 0 0 0;
    font-weight: bold;
    font-size: 34px;
    word-spacing: 30px;
}

.po_skaiciais {
    font-size: 12px;
    margin: 0 0 30px 0;
    word-spacing: 40px;
}

#emailsub {
    border: none;
    border-bottom: palegoldenrod 1px solid;
    width: 50%;
    background: transparent;
    line-height: 30px;
}

#emailsub::placeholder {
    color: white;
    font-size: 10px;
}

#sub {
    margin: 15px 0;
    background-color: #EA1E63;
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 3px;
}

.topcont > a > .gotop {
    width: 15px;
    height: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 0 30px 0;
    background: transparent;
}

.contentcon {
    width: 800px;
    text-align: center;
    margin-left: calc( (100% - 800px) / 2);
}

.left-col {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: left;
    padding-right: 40px;
}

.left-col h1{
    margin: 40px 0 10px 0;
    font-size: 22px;
}

.left-col p {
    margin: 20px 0 10px 0;
    font-size: 12px;
    line-height: 20px;
}

.loading-bar span {
    float: right;
}

.progress-bar-1 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-1::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 6px;
    min-width: 50px;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.progress-bar-2 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-2::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    width: 86%;
    height: 6px;
    min-width: 50px;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.progress-bar-3 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-3::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    width: 86%;
    height: 6px;
    min-width: 50px;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.right-col {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: 40px;
}

.right-col h1{
    margin: 40px 0 10px 0;
    font-size: 22px;
}

.right-col p {
    margin: 10px 0 25px 0;
    font-size: 12px;
    line-height: 20px;
}

.right-col > form > input {
    border: none;
    border-bottom: palegoldenrod 1px solid;
    line-height: 40px;
}

.right-col > form > #right-col-name {
    margin-right: 20px;
}

#right-col-message {
    width: 80%;
    line-height: 90px;
}

.right-col > form > #right-col-button {
    margin-bottom: 75px;
    margin-top: 20px;
    margin-right: 70px;
    float: right;
    background-color: #EA1E63;
    padding: 12px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    line-height: 10px;
}

/* .content::after {
    content: "";
    border-color: #EA1E63;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    left: 50%;
    position: absolute;
    margin-left: 300px;
    bottom: -35%;
    width: 0;
} */

.gotopp {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    border: none;
    position: relative;
    background-color: #EA1E63;
    float: right;
    bottom: 20px;
    right: 24%;
    transform: rotate(90deg);
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bottom-cont {
    width: 800px;
    display: inline-block;
    margin-left: calc ((100% - 800px) / 2);
}

.bottom {
    background-color: #03A9F3;
    text-align: center;
    padding-bottom: 50px;
}

.social {
    border-bottom: 1px solid white;
}

.social a{
    color: white;
    text-decoration: none;
    margin: 20px 0;
    letter-spacing: 20px;
    font-size: 12px;
}

.bottom-logo {
    margin: 20px 0;
    font-size: 30px;
}

.bottom-logo > img {
    width: 26px;
    vertical-align: baseline;
    margin-right: 5px;
}

.bottom p {
    line-height: 30px;
    font-size: 12px;
    color: white;
}